@(users: Seq[User])

@main("Social Network App...") {
		<div id="navButtons">
			<table>
				<tr>
					<td><a href='@routes.Application.start' class="btn btn-primary">Start</a></td>
					<td><a href='@routes.Application.clean' class="btn btn-danger">Clean DB</a></td>
					<td><a href='@routes.Application.index' class="btn btn-default">Homepage</a></td>
				</tr>
			</table>
		</div>
		<h3>Created users(@users.size)</h3>
		<table class="table table-striped table-bordered">
			<th>Name</th>
			<th>Surname</th>
			<th>Id</th>
			@users.map { u => 
				<tr>
					<td>@u.name</td>
					<td>@u.surname</td>
					<td>@u.id</td>
				</tr>			
			}
		</table>
}
